---
import { BASE_URL } from '../services/contans'
---

<nav class="nav">
  <input type="checkbox" hidden id="checkbox" />
  <label class="nav__icon" for="checkbox">
    <i class="fa-solid fa-bars"></i>
  </label>

  <div class="nav__overlay">
    <div class="mx-auto w-[85%] relative lg:mx-0 lg:w-full">
      <label class="nav__icon" for="checkbox">
        <i class="fa-solid fa-xmark"></i>
      </label>

      <ul
        class="lg:flex lg:items-center lg:gap-8 lg:h-auto grid h-screen place-content-center gap-7 text-center"
      >
        <li>
          <a class="nav__link" href=`${BASE_URL}/`>Inicio</a>
        </li>
        <li>
          <a class="nav__link" href=`${BASE_URL}/`>Planes</a>
        </li>
        <li>
          <a class="nav__link" href=`${BASE_URL}/`>Cobertura</a>
        </li>
        <li>
          <a class="nav__link" href=`${BASE_URL}/`>Contratar</a>
        </li>
        <li>
          <a class="nav__link nav__link--cta" href=`${BASE_URL}/`>
            Consultar Factura</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .nav {
    @apply select-none;
  }

  .nav__icon {
    @apply lg:hidden grid w-[40px] h-[40px] text-[28px] place-items-center border border-transparent rounded hover:border-cyan-blue;
  }

  .nav__link {
    @apply text-lg hover:text-cyan-blue;
  }

  .nav__link--cta {
    @apply block px-5 py-3 rounded-full border;
  }

  .nav:has(input:checked) .nav__overlay {
    @apply block;
  }

  @media (width < 1024px) {
    .nav__overlay {
      @apply hidden fixed inset-0 overflow-auto bg-black-opacity backdrop-blur-lg;
      scrollbar-gutter: stable;
    }

    .nav__icon:has(.fa-xmark) {
      @apply absolute top-10 right-0;
    }
  }
</style>
